{% include 'parts/sidebrand.html' %}
{% set active_section = 'calendar' %}
{% include 'parts/appnav.html' %}

 <div class="block calendar_list panel panel-default shared_calendars calendar-sidebar-section" id="shared_calendar_list">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans %}labels.shared_calendars{% endtrans %}</h3>
  </div>
  <div class="panel-body">
    <ul class="fa-ul">
     <li class="calendar-list-loading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Loading shared calendars...</li>
    </ul>
   <div class="buttons">
    <button type="button" id="shared_calendar_add" class="pseudobutton" title="{% trans from "labels" %}create{% endtrans %}" aria-label="{% trans from "labels" %}create{% endtrans %}">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <button type="button" id="toggle_all_shared_calendars" class="pseudobutton hide_all"
      title="{% trans %}labels.toggleallcalendars{% endtrans %}"
      aria-label="{% trans %}labels.toggleallcalendars{% endtrans %}"
    ><i class="fa fa-eye-slash fa-lg" aria-hidden="true"></i></button>
   </div>
  </div><!-- panel-body -->
 </div><!-- panel -->
