*~
.Trash-*
.DS_Store
.AppleDouble
.LSOverride

/var/logs/
/doc/build
# Vagrant
/.vagrant
/vagrant_ansible_inventory_default

*.sqlite

caldaver-built*
web/public/dist/css/*.css
web/public/dist/js/*.js

# Development
/node_modules/
/bower_components/
/dist/
/build/
/rust/target/
.idea
