{% extends 'layout.html' %}

{% block body_class %}agendav-calendar-page{% endblock %}

{% block content %}
{% include 'parts/navbar.html' %}
  <div class="container-fluid calendar-shell">
   <div id="wrapper" class="calendar-layout">

    <div id="sidebar">
      {% include 'parts/sidebar.html' %}
    </div>

    <div id="content">
      <div id="calendar_view"></div>
    </div>

   </div>
  </div>
{% endblock %}

{% block bottom %}
  {% set load_fullcalendar_locale = true %}
  {% include 'parts/agendavjs.html' %}
  {% include 'parts/bottom.html' %}
{% endblock %}
