{% extends 'layout.html' %}

{% block body_class %}caldaver-mail-page{% endblock %}

{% block content %}
{% set active_section = 'mail' %}
{% include 'parts/navbar.html' %}
<div class="container-fluid mail-shell">
  <aside class="mail-sidebar">
    {% include 'parts/sidebrand.html' %}
    {% include 'parts/appnav.html' %}
    <nav id="mail_accounts" class="mail-accounts" aria-label="Mail accounts"></nav>
  </aside>

  <main class="mail-content">
    <div class="mail-search-row">
      <div class="mail-search">
        <i class="fa fa-search"></i>
        <input id="mail_search" type="search" placeholder="{% trans %}labels.searchmail{% endtrans %}">
      </div>
    </div>

    <section class="mail-panel">
      <div class="mail-toolbar">
        <h1 id="mail_account_title">{% trans %}labels.mail{% endtrans %}</h1>
        <button type="button" id="mail_refresh" title="{% trans %}labels.refresh{% endtrans %}">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
      <div id="mail_empty" class="mail-empty" hidden>{% trans %}labels.noaccounts{% endtrans %}</div>
      <div id="mail_loading" class="mail-empty" hidden>{% trans %}labels.nomessages{% endtrans %}</div>
      <div id="mail_no_messages" class="mail-empty" hidden>{% trans %}labels.nomessages{% endtrans %}</div>
      <div id="mail_error" class="mail-error" hidden></div>
      <div id="mail_rows" class="mail-rows"></div>
    </section>
  </main>
</div>
{% endblock %}

{% block bottom %}
{% if mail_javascript_enabled %}
{% include 'parts/mailjs.html' %}
{% endif %}
{% endblock %}
