{% extends 'layout.html' %}

{% block content %}
{% include 'parts/navbar.html' %}
  <div class="container">
    <h1>{% trans %}labels.preferences{% endtrans %}</h1>

    <div class="preferences-container">
    <form method="post" id="prefs_form">
    <input type="hidden" name="_token" value="{{ csrf_token.getValue() }}">

    <fieldset class="prefs-section">
    <legend>{% trans %}labels.generaloptions{% endtrans %}</legend>

    <div class="form-group">
        <label for="language">{% trans %}labels.language{% endtrans %}</label>
        <select class="form-control" id="language" name="language">
            {% for language_id, language_name in available_languages %}
            <option value="{{ language_id }}"{% if language == language_id %} selected="selected"{% endif %}>
                {{ language_name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group prefs-radio-group" role="radiogroup" aria-labelledby="date_format_label">
        <div class="prefs-control-label" id="date_format_label">{% trans %}labels.date_format{% endtrans %}</div>
        <label class="radio-inline" for="date_format_ymd">
          <input id="date_format_ymd" type="radio" name="date_format" {% if date_format == "ymd" %} checked="checked" {% endif %} value="ymd"> {{ "now" | date('Y-m-d') }}
        </label>
        <label class="radio-inline" for="date_format_dmy">
          <input id="date_format_dmy" type="radio" name="date_format" {% if date_format == "dmy" %} checked="checked" {% endif %} value="dmy"> {{ "now" | date('d/m/Y') }}
        </label>
        <label class="radio-inline" for="date_format_mdy">
          <input id="date_format_mdy" type="radio" name="date_format" {% if date_format == "mdy" %} checked="checked" {% endif %} value="mdy"> {{ "now" | date('m/d/Y') }}
        </label>
    </div>

    <div class="form-group prefs-radio-group" role="radiogroup" aria-labelledby="time_format_label">
        <div class="prefs-control-label" id="time_format_label">{% trans %}labels.time_format{% endtrans %}</div>
        <label class="radio-inline" for="time_format_24">
          <input id="time_format_24" type="radio" name="time_format" {% if time_format == "24" %} checked="checked" {% endif %} value="24"> {{ "now" | date('H:i') }}
        </label>
        <label class="radio-inline" for="time_format_12">
          <input id="time_format_12" type="radio" name="time_format" {% if time_format == "12" %} checked="checked" {% endif %} value="12"> {{ "now" | date('h:i a') }}
        </label>
    </div>

    <div class="form-group prefs-radio-group" role="radiogroup" aria-labelledby="weekstart_label">
        <div class="prefs-control-label" id="weekstart_label">{% trans %}labels.weekstart{% endtrans %}</div>
        <label class="radio-inline" for="weekstart_sunday">
          <input id="weekstart_sunday" type="radio" name="weekstart" {% if weekstart == "0" %} checked="checked" {% endif %} value="0"> {% trans %}labels.sunday{% endtrans %}
        </label>
        <label class="radio-inline" for="weekstart_monday">
          <input id="weekstart_monday" type="radio" name="weekstart" {% if weekstart == "1" %} checked="checked" {% endif %} value="1"> {% trans %}labels.monday{% endtrans %}
        </label>
    </div>

    <div class="form-group">
    <label for="timezone">{% trans %}labels.timezone{% endtrans %}</label>
        <select class="form-control" id="timezone" name="timezone">
            {% for timezone_name in available_timezones %}
            <option value="{{ timezone_name }}"{% if timezone == timezone_name %} selected="selected"{% endif %}>
                {{ timezone_name }}
            </option>
            {% endfor %}
        </select>
        <span class="help-block">{% trans %}messages.help_timezone{% endtrans %}</span>
    </div>

    </fieldset>

    <fieldset class="prefs-section">
    <legend>{% trans %}labels.calendars{% endtrans %}</legend>

    <div class="form-group">
        <label for="default_calendar">{% trans %}labels.defaultcalendar{% endtrans %}</label>
        <select class="form-control" id="default_calendar" name="default_calendar">
            {% for calendar_id, name in calendars %}
            <option value="{{ calendar_id }}"{% if default_calendar == calendar_id %} selected="selected"{% endif %}>
                {{ name }}
            </option>
            {% endfor %}
        </select>
        <span class="help-block">{% trans %}messages.help_defaultcalendar{% endtrans %}</span>
    </div>

    <div class="form-group">
        <label for="default_view">{% trans %}labels.default_view{% endtrans %}</label>
        <select class="form-control" id="default_view" name="default_view">
            {% for view in ['month', 'week', 'day', 'list'] %}
            <option value="{{ view }}"{% if default_view == view %} selected="selected"{% endif %}>
                {{ ('labels.view_' ~ view) |trans }}
            </option>
            {% endfor %}
        </select>
        <span class="help-block">{% trans %}messages.help_default_view{% endtrans %}</span>
    </div>


    <div class="form-group prefs-radio-group" role="radiogroup" aria-labelledby="show_week_nb_label">
        <div class="prefs-control-label" id="show_week_nb_label">{% trans %}labels.show_week_nb{% endtrans %}</div>
        <label class="radio-inline" for="show_week_nb_yes">
          <input id="show_week_nb_yes" type="radio" name="show_week_nb" {% if show_week_nb == true %} checked="checked" {% endif %} value="true"> {% trans %}labels.yes{% endtrans %}
        </label>
        <label class="radio-inline" for="show_week_nb_no">
          <input id="show_week_nb_no" type="radio" name="show_week_nb" {% if show_week_nb == false %} checked="checked" {% endif %} value="false"> {% trans %}labels.no{% endtrans %}
        </label>
    </div>

    <div class="form-group prefs-radio-group" role="radiogroup" aria-labelledby="show_now_indicator_label">
        <div class="prefs-control-label" id="show_now_indicator_label">{% trans %}labels.show_now_indicator{% endtrans %}</div>
        <label class="radio-inline" for="show_now_indicator_yes">
          <input id="show_now_indicator_yes" type="radio" name="show_now_indicator" {% if show_now_indicator == true %} checked="checked" {% endif %} value="true"> {% trans %}labels.yes{% endtrans %}
        </label>
        <label class="radio-inline" for="show_now_indicator_no">
          <input id="show_now_indicator_no" type="radio" name="show_now_indicator" {% if show_now_indicator == false %} checked="checked" {% endif %} value="false"> {% trans %}labels.no{% endtrans %}
        </label>
	    </div>

    <div class="form-group prefs-radio-group" role="radiogroup" aria-labelledby="disable_javascript_label">
        <div class="prefs-control-label" id="disable_javascript_label">{% trans %}labels.disable_javascript{% endtrans %}</div>
        <label class="radio-inline" for="disable_javascript_yes">
          <input id="disable_javascript_yes" type="radio" name="disable_javascript" {% if disable_javascript == true %} checked="checked" {% endif %} value="true"> {% trans %}labels.yes{% endtrans %}
        </label>
        <label class="radio-inline" for="disable_javascript_no">
          <input id="disable_javascript_no" type="radio" name="disable_javascript" {% if disable_javascript == false %} checked="checked" {% endif %} value="false"> {% trans %}labels.no{% endtrans %}
        </label>
        <span class="help-block">{% trans %}messages.help_disable_javascript{% endtrans %}</span>
    </div>


    <div class="form-group">
        <label for="list_days">{% trans %}labels.list_days{% endtrans %}</label>
        <select class="form-control" id="list_days" name="list_days">
            {% for days in [7, 14, 31] %}
            <option value="{{ days }}"{% if list_days == days %} selected="selected"{% endif %}>
              {{ days }} {% trans %} labels.days {% endtrans %}
            </option>
            {% endfor %}
        </select>
        <span class="help-block">{% trans %}messages.help_list_days{% endtrans %}</span>
    </div>

    </fieldset>

    <fieldset class="prefs-section prefs-mail-section">
    <legend>{% trans %}labels.mail{% endtrans %}</legend>

    <div class="form-group">
        <button type="button" id="mail_account_create" class="btn btn-default prefs-mail-account-create">
          <i class="fa fa-plus"></i> {% trans %}labels.addaccount{% endtrans %}
        </button>
    </div>

    </fieldset>

    <div id="prefs_buttons">
      <input type="submit" class="btn btn-success" value="{% trans %}labels.save{% endtrans %}">

        <a href="{{ app.url_generator.generate('calendar') }}" id="return_button" class="btn btn-default"><i class="fa fa-calendar"></i> {% trans %}labels.return{% endtrans %}</a>
    </div>

    </form>


    </div>
  </div>

<div id="mail_account_dialog" class="contact-dialog" hidden>
  <form id="mail_account_form" action="{{ app.url_generator.generate('mail.accounts.save') }}" method="post">
    <input type="hidden" name="_token" value="{{ csrf_token.getValue() }}">
    <input type="hidden" name="id" value="">
    <div class="contact-dialog-panel">
      <div class="contact-dialog-header">
        <h2>{% trans %}labels.addaccount{% endtrans %}</h2>
        <button type="button" id="mail_account_cancel_icon" aria-label="{% trans %}labels.cancel{% endtrans %}">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <label>
        <span>{% trans %}labels.accountname{% endtrans %}</span>
        <input required name="label" type="text" autocomplete="organization">
      </label>
      <label>
        <span>{% trans %}labels.emailaddress{% endtrans %}</span>
        <input required name="email_address" type="email" autocomplete="email">
      </label>
      <label>
        <span>{% trans %}labels.imaphost{% endtrans %}</span>
        <input required name="imap_host" type="text" autocomplete="off">
      </label>
      <label>
        <span>{% trans %}labels.imapport{% endtrans %}</span>
        <input required name="imap_port" type="number" min="1" max="65535" value="993">
      </label>
      <label>
        <span>{% trans %}labels.encryption{% endtrans %}</span>
        <select name="encryption">
          <option value="ssl">SSL</option>
          <option value="tls">STARTTLS</option>
          <option value="none">None</option>
        </select>
      </label>
      <label>
        <span>{% trans %}labels.username{% endtrans %}</span>
        <input required name="username" type="text" autocomplete="username">
      </label>
      <label>
        <span>{% trans %}labels.password{% endtrans %}</span>
        <input required name="password" type="password" autocomplete="current-password">
      </label>
      <label>
        <span>{% trans %}labels.refresh_interval_minutes{% endtrans %}</span>
        <input required name="refresh_interval_minutes" type="number" min="1" max="1440" value="1">
      </label>
      <div id="mail_account_error" class="mail-error" hidden></div>
      <div class="contact-dialog-footer">
        <button type="button" id="mail_account_cancel" class="btn btn-default">{% trans %}labels.cancel{% endtrans %}</button>
        <button type="submit" class="btn btn-primary">{% trans %}labels.save{% endtrans %}</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block bottom %}
  {% include 'parts/bottom.html' %}
  {% include 'parts/mailaccountjs.html' %}
{% endblock %}
